.navdiv{
    background-color: aqua;
}
.navdiv ul{
    list-style-type:none ;
    display: flex;
    justify-content: center;
}


.navdiv li a{
   text-decoration: none;
   display: block;
   padding: 14px 30px;
   transition: transform 0.3s, box-shadow 0.3s;
   color: black;
    font-size: large;
}
.navdiv ul li a:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(164, 165, 170, 0.3); 
    background-color: white;
}

.midcontent{
    background-image: url('./post-bidding.jpg');
    height: 1000px;
    width: auto;
    position: relative;
    
}
#crtprfl{
    position: relative;
    left: 210px;
    top: 230px;
    color: white;
    font-size: 40px;
    
}
.loginbox{
    position: relative;
    border-radius: 8px;
    left: 100px;
    top: 200px;
    margin: 10px;
    padding: 20px;
    width: 450px;
    height: 600px;
    
    background-color:white
    
    
}



form {
    display: flex;
    flex-direction: column; 
}

form label {
    margin-bottom: 5px; 
}

form input,form button {
    margin-bottom: 20px; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

form button {
    background-color: #333; 
    color: white;
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

form button:hover {
    background-color: #575757; 
}
.cards{
    display: flex;
    gap: 30px;
    
}
.secmidcontent{
    background-color: aquamarine;
    padding: 10px;
    padding-left: 25px;
    border-radius: 20px;
    width: 800px;
    left: 0px;
}
/* .secmidcontent:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 10px rgba(164, 165, 170, 0.3); 
    
} */
.incards{
    background-color: aquamarine;
    padding: 10px;
    padding-left: 25px;
    border-radius: 20px;
    width: 800px;
    left: 0px;
}
.incards ol li {
    font-size: 25px;
}
.footer{
    height: 200px;
    width: auto;
    background-color: rgb(45, 42, 58);
}
.footer img{
    width: 100px;
    height: 100px;
    position: relative;
    left: 600px;
    top:0px
    
    
}
.foot2 ul{
    display: flex;
    justify-content: center;
    
}
.foot2 ul li{
     list-style-type:none ;
     padding-left: 10px;
}
.foot2 ul li a{
    text-decoration: none;
    color: black;
}
.foot3 ul{
    display: flex;
    
}
.foot3 ul li{
   list-style-type:none;
   padding-left: 20px;
}
.foot3 ul li a img{
    width: 26px;
    height: 26px;
    border-radius: 30px;
}

